# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Archivos generados por el IDE (NetBeans, IntelliJ, Eclipse, etc.)
*.iml
.idea/
*.ipr
*.iws
out/
nbproject/private/

# Archivos de logs
*.log

# Archivos empaquetados
*.jar
*.zip
*.tar.gz

# Archivos específicos de tu proyecto
WebBackend/build/